/*AJUSTES PROPIOS*/
header, main, footer {
    padding-left: 325px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
}

body {
    background-color: #ffffff;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.contenedorChat
{
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;

  position: fixed;
  height: 65%;
  z-index: 999;
  overflow-y: scroll;
  will-change: transform;

  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

@media only screen and (min-width: 601px) {
  .contenedorChat {
    width: 80%;
  }
}

@media only screen and (min-width: 993px) {
  .contenedorChat {
    width: 77%;
  }
}

.colorCampusChat {
  background-color: #C84A2B !important;
}

.colorCampusChat-text {
  color: #C84A2B !important;
}
