/*AJUSTES PROPIOS*/
header, main, footer {
    padding-left: 325px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
}

body {
    /*background-color: #ffffff;*/
    background-image: url("/images/backgroundcc.png");
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.contenedorChat {
  margin: 0 auto;
  position: fixed;


  overflow-y: scroll;
  will-change: transform;

  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

@media only screen and (max-width: 600px) {
  .contenedorChat {
    width: 100%;
    height: 63%;
  }
}

@media only screen and (min-width: 600px) {
  .contenedorChat {
    width: 100%;
    height: 60%;
  }
}

@media only screen and (min-width: 992px) {
  .contenedorChat {
    width: 73%;
    height: 70%;    
  }
}

@media only screen and (min-width: 1200px) {
  .contenedorChat {
    width: 75.7%;
    width: 75%;    
  }
}


.colorCampusChat {
  background-color: #C84A2B !important;
}

.colorCampusChat-text {
  color: #C84A2B !important;
}


.leftCampus{
    float: left;
    background:blue
}

.rightCampus{
    float: right;
    background:red
}

.mensajeTransmisor{
  color: #ffffff;
  background: #C84A2B;
  margin: 0 0 25px;
  overflow: hidden;
  padding: 15px;
  border-radius: 0px 35px 0px 35px;
  -moz-border-radius: 0px 35px 0px 35px;
  -webkit-border-radius: 0px 35px 0px 35px;
  border: 0.1px solid #C84A2B;
  /*
  border-radius: 35px 0px 35px 0px;
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 0px 35px 0px;
  border: 0.1px solid #C84A2B;
  */
}

.mensajeReceptor{
  color: #000000;
  background: #ffffff;
  margin: 0 0 25px;
  overflow: hidden;
  padding: 15px;
  border-radius: 0px 35px 0px 35px;
  -moz-border-radius: 0px 35px 0px 35px;
  -webkit-border-radius: 0px 35px 0px 35px;
  border: 0.1px solid #C84A2B;
}
