<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/materialize.css">
    <link rel="stylesheet" href="/styles/campuschat.css">
    <link rel="stylesheet" href="/styles/index.css">
    <!--STYLES END-->

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>CAMPUS CHAT API</title>
    <!--Prueba desde atom..!!s-->

  </head>

  <body>

    <header>

      <nav class="top-nav colorCampusChat">

        <a href="#" title="Chats" data-activates="slide-out" class="left button-collapse top-nav circle hide-on-large-only"><i class="material-icons">menu</i></a>

        <div class="row">
          <a class="modal-trigger" href="#archivos" id="infoUsuarioSeleccionado" title="Presiona para ver los archivos" style="display:none">
            <div class="valign-wrapper">
                <img id="imagenUsuarioSeleccionado" src="" alt="" class="circle responsive-img" width="50" height="50">
                <span id="nombreUsuarioSeleccionado" class="white-text"></span>
            </div>
          </a>
        </div>

      </nav>


      <ul id="slide-out" class="side-nav fixed">  </ul>

    </header>

    <main>

        <!--Menú de opciones envío de archivos-->
        <div class="fixed-action-btn" id="cargaArchivos" style="display: none">
          <a class="btn-floating white">
            <i class="large material-icons  colorCampusChat-text">attach_file</i>
          </a>
          <ul>
            <li>
              <a class="btn-floating indigo" href="#" onclick="return false;" title="Imágenes" id="imagenAdjuntaBtn"><i class="material-icons">image</i></a>
              <input id="imagenAdjunta" type="file" accept="image/png, image/jpeg" style="display:none">
            </li>
            <li>
              <a class="btn-floating blue" href="#" onclick="return false;" title="Documentos" id="archivoAdjuntoBtn"><i class="material-icons">insert_drive_file</i></a>
              <input id="archivoAdjunto" type="file" accept=".pdf,.doc,.docx,.odt,.xls, .xlsx, .ods" style="display:none">
            </li>

          </ul>
        </div>

        <div class="container center" id="logoInicio">
          <img class="responsive-img" width="650" src="/images/logo2.png">
        </div>

        <div id="chatBody" class="row">
          <ul class="collection contenedorChat" id="chatList" style="background-color: rgba(0, 0, 0, 0)"></ul>
        </div>

        <!--***************************MODAL PARA EL ENVÍO DE ARCHIVOS*****************************-->
        <!-- Modal Structure enviarArchivos-->
        <div id="enviarArchivosModal" class="modal modal-fixed-footer">
          <div class="modal-content">
            <div class="row valign-wrapper">
              <i id="cerrarModalArchivosSeleccionados" class="modal-action modal-close material-icons" title="Cerrar">close</i>
              <span style="font-size: 2.28rem">&nbsp&nbspVista Previa</span>
            </div>

            <div class="row center">
              <div class="col s12">
                <span id="tituloArchivoSeleccionado"></span>
              </div>
              <img id="imagenArchivoSeleccionado" src="" alt="" class="responsive-img">
            </div>
          </div>
          <div class="modal-footer">
            <div class="container">

            <div class="row">
                <form action="/mensajeschat/uploadFile" enctype="multipart/form-data" method="POST" id="mensajesConArchivosForm" name="mensajesConArchivosForm">
                  <div class="row">
                    <div class="input-field col s8 l10 offset-s1">
                      <i class="material-icons prefix">message</i>
                      <input id="mensajeAdjunto" name="mensajeAdjunto" type="text" class="validate" placeholder=" Escribe un comentario aquí..." autocomplete="off">
                    </div>
                    <div class="input-field col s1 l1">
                      <button id="enviarMensajeConArchivoButton" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons colorCampusChat">send</i></button>
                    </div>
                  </div>
                </form>
              </div>

            </div>
          </div>
        </div>
        <!--**********************FINAL MODAL PARA EL ENVÍO DE ARCHIVOS*****************************-->

        <!-- Modal Structure -->
        <div id="contactos" class="modal modal-fixed-footer">
          <div class="modal-content">
            <div class="row valign-wrapper">
              <i class="modal-action modal-close material-icons" title="Cerrar">close</i>
              <span style="font-size: 2.28rem">&nbsp&nbspContactos</span>
            </div>
              <ul class="collection" id="contactosList">

              </ul>
          </div>
        </div>

        <!-- Estructura del modal de archivos del usuario-->
         <div id="archivos" class="modal bottom-sheet">
            <div class="modal-content">
              <div class="container">
                <div class="row valign-wrapper">
                  <i class="modal-action modal-close material-icons" title="Cerrar">close</i>
                  <span style="font-size: 2.28rem">&nbsp&nbspMultimedia y documentos</span>
                </div>
              </div>

              <div class="container">

                <div class="row">
                  <div class="col s12" style="overflow-y: hidden;">
                    <ul class="tabs">
                      <li class="tab col s5 offset-s1"><a class="active" href="#multimedia">Multimedia</a></li>
                      <li class="tab col s5"><a href="#documentos">Documentos</a></li>
                    </ul>
                  </div>
                </div>

                <div id="multimedia" class="row"> </div>

                <div id="documentos" class="row"> </div>

              </div>
            </div>
          </div>

    </main>

    <footer>
      <div class="container">
        <div class="row" id="footer" style="display:none">
          <form onsubmit="return false;">
            <div class="row">
              <div class="input-field col s8 l11 offset-s1">
                <i class="material-icons prefix">message</i>
                <input id="mensaje" name="mensaje" type="text" class="validate" required placeholder="Escribe un mensaje aquí..." autocomplete="off" autofocus">
              </div>
              <div class="input-field col s1 l1">
                <button id="enviarMensajeButton" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons colorCampusChat">send</i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </footer>

   <!--SCRIPTS-->
   <script src="/js/dependencies/jquery-3.2.1.min.js"></script>
   <script src="/js/dependencies/sails.io.js"></script>
   <script src="/js/materialize.min.js"></script>
   <!--SCRIPTS END-->
   <!--SCRIPT SOLO PARA CAMPUS CHAT-->
   <script src="/js/campuschat.js"></script>
   <!--END SCRIPT SOLO PARA CAMPUS CHAT-->

   <!--Inicio de los elementos-->
   <script type="text/javascript">
     $( document ).ready(function(){
       $('.button-collapse').sideNav({
          closeOnClick: true,
       });
       $('.modal').modal();
       //Agrega una etiqueta de audio al body html
       $('<audio id="chatAudio"><source src="/sound/notificacion.mp3" type="audio/mpeg"></audio>').appendTo('body');
     });
   </script>

   <script>
     //Variables
     //Usuarios
     //Datos del usuario que inicio sesión
     var transmisorId = '<%= session.user.id  %>';
     var transmisorNombre = '<%= session.user.name.substr(0,11)  %>';
     var transmisorApellido = '<%= session.user.last_name.substr(0,1)%>';
     var transmisorImagen = '<%= session.user.imagen  %>';

   </script>

  </body>
</html>
