<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/materialize.css">
    <link rel="stylesheet" href="/styles/campuschat.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/index.css">
    <!--STYLES END-->

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>    
    
    <header>
    
      <nav class="top-nav colorCampusChat">
        
        <a href="#" title="Chats" data-activates="slide-out" class="left button-collapse top-nav circle hide-on-large-only"><i class="material-icons">menu</i></a>
        
        <div class="nav-wrapper">
          <ul class="right">
           <li>
              <a href="#" onclick="return false;" title="Imágenes" id="imagenAdjuntaBtn" style="display:none"><i class="material-icons">image</i></a>
              <input id="imagenAdjunta" type="file" accept="image/*" style="display:none">
            </li>
            
            <li>
              <a href="#" onclick="return false;" title="Documentos" id="archivoAdjuntoBtn" style="display:none"><i class="material-icons">attach_file</i></a>
              <input id="archivoAdjunto" type="file" accept=".pdf,.doc,.docx,.odt" style="display:none">
            </li>

            <li><a href="#archivos" title="Presiona para ver los archivos" id="listaArchivos" style="display:none" class="modal-trigger"><i class="material-icons">insert_drive_file</i></a></li>


            <li><a href="#contactos" title="Nuevo chat" class="modal-trigger"><i class="material-icons">message</i></a></li>

          </ul>
        </div>
                   
      </nav>

      <ul id="slide-out" class="side-nav fixed">
        <!--Encabezado del usuario imagen, nombre, correo-->       

      </ul>     
      
    </header>
    
    
    <main>

        <div class="container center" id="logoInicio">
          <img class="responsive-img" width="650" src="/images/logo2.png">                    
        </div>
        
        <div id="chatBody" class="row">
          <ul class="collection contenedorChat" id="chatList"></ul>
        </div>

        <!-- Modal Structure -->
        <div id="contactos" class="modal modal-fixed-footer">
          <div class="modal-content">
            <div class="row center">
                <div class="col s12">
                  <h4>Contactos</h4>                  
                </div>
              </div>
              <ul class="collection" id="contactosList">
                
              </ul>
          </div>
        </div>

        <!-- Estructura del modal de archivos del usuario-->
         <div id="archivos" class="modal bottom-sheet">
            <div class="modal-content">
              <div class="row center">
                <div class="col s12">
                  <h4>Multimedia y documentos</h4>                  
                </div>
              </div>
              <div class="container">                
              
                <div class="row">
                  <div class="col s12" style="overflow-y: hidden;">
                    <ul class="tabs">
                      <li class="tab col s5 offset-s1"><a class="active" href="#multimedia">Multimedia</a></li>
                      <li class="tab col s5"><a href="#documentos">Documentos</a></li>
                    </ul>
                  </div>
                </div>

                
                  <div id="multimedia" class="row">
                    <div class="col s2">
                      <img src="/images/natu1.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/natu2.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/natu3.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/natu4.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/natu5.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/natu6.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/natu7.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/natu8.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/natu1.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/natu2.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/natu3.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/natu4.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/natu5.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/natu6.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/natu7.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/natu8.jpg" alt="" class="responsive-img">
                    </div>
                  </div>

                  <div id="documentos" class="row">
                    <div class="col s2">
                      <img src="/images/docx.png" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/pdf.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/xls.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/docx.png" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/pdf.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/xls.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/docx.png" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/pdf.jpg" alt="" class="responsive-img">
                    </div>
                    <div class="col s2">
                      <img src="/images/xls.jpg" alt="" class="responsive-img">
                    </div>
                    
                  </div>
              </div>
            </div>
          </div>

    </main>

    <footer>

      <div class="container">        
        <div class="row" id="footer" style="display:none">
          <form onsubmit="return false;">
            <div class="row">
              <div class="input-field col s8 l11 offset-s1">
                <i class="material-icons prefix">message</i>
                <input id="mensaje" name="mensaje" id="first_name" type="text" class="validate" required placeholder="Escribe un mensaje aquí">
              </div>
              <div class="input-field col s1 l1">
                <button id="enviarMensajeButton" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons colorCampusChat">send</i></button>
              </div>
            </div>
          </form>
        </div>   
      </div>

    </footer>

   <!--SCRIPTS-->
   <script src="/js/dependencies/jquery-3.2.1.min.js"></script>
   <script src="/js/dependencies/sails.io.js"></script>
   <script src="/js/materialize.js"></script>
   <script src="/js/materialize.min.js"></script>
   <!--SCRIPTS END-->

   <!--Inicio de los elementos-->
   <script type="text/javascript">
     $( document ).ready(function(){
       $('.button-collapse').sideNav({
          closeOnClick: true,
       });      
       $('.modal').modal();
       //Appending HTML5 Audio Tag in HTML Body
       $('<audio id="chatAudio"><source src="/sound/notificacion.mp3" type="audio/mpeg"></audio>').appendTo('body');
     });
   </script>

   <script>
     

   </script>

   <script>
    
     //Variables     
     //Usuarios
     var transmisor = '<%= session.user.id  %>';
     var receptor;
     var grupo;

     var cursos;
     var usuariosReceptores;
     var chatsUsuario;
     var chatSeleccionadoActual;
     //Petición para mensajes
     var peticion = '/mensajes/mensajes';          
     //Botones
     var enviarMensajeButton = document.querySelector('#enviarMensajeButton'); 
     var adjuntarImagen = document.querySelector('#imagenAdjuntaBtn');
     var adjuntarArchivo = document.querySelector('#archivoAdjuntoBtn');     

     //Cuerpo del mensaje
     var mensaje = document.querySelector('#mensaje');
     var listaMensajes = document.querySelector('#chatList');
     //Contactos
     var contactosList = document.querySelector('#contactosList');

     adjuntarImagen.addEventListener('click', function(e){
        $("#imagenAdjunta").click();
     });

     adjuntarArchivo.addEventListener('click', function(e){
        $("#archivoAdjunto").click();
     });     

     function addMensajes(data) {

        //console.log(data);
        $('#chatList').empty();   

        for(let mensajeActual of data){
          if (mensajeActual.id_curso) {
            if (transmisor == mensajeActual.id_transmisor.id) {             

              $("#chatList").append('<li class="collection-item valign-wrapper col s12">'+
                                  '<img title="'+mensajeActual.id_transmisor.name+' '+mensajeActual.id_transmisor.last_name+' '+mensajeActual.id_transmisor.last_name2+'"src="'+mensajeActual.id_transmisor.imagen+'" alt="" class="circle responsive-img" width="50" height="50">'+
                                  '<p class="mensajeTransmisor" title="'+formatoFechaMensajes(mensajeActual.fecha_envio)+'"><b>'+mensajeActual.id_transmisor.name+' '+mensajeActual.id_transmisor.last_name+' '+mensajeActual.id_transmisor.last_name2+'</b><br>'+mensajeActual.contenido+
                                  '</p>'+
                                '</li>'); 

            }else{
              $("#chatList").append('<li class="collection-item valign-wrapper col s12">'+
                                  '<img title="'+mensajeActual.id_transmisor.name+' '+mensajeActual.id_transmisor.last_name+' '+mensajeActual.id_transmisor.last_name2+'"src="'+mensajeActual.id_transmisor.imagen+'" alt="" class="circle responsive-img" width="50" height="50">'+
                                  '<p class="mensajeReceptor" title="'+formatoFechaMensajes(mensajeActual.fecha_envio)+'"><b>'+mensajeActual.id_transmisor.name+' '+mensajeActual.id_transmisor.last_name+' '+mensajeActual.id_transmisor.last_name2+'</b><br>'+mensajeActual.contenido+
                                  '</p>'+
                                '</li>'); 
            }

          }else{

            if (transmisor == mensajeActual.id_transmisor.id) {             

              $("#chatList").append('<li class="collection-item valign-wrapper col s12">'+
                                  '<img title="'+mensajeActual.id_transmisor.name+' '+mensajeActual.id_transmisor.last_name+' '+mensajeActual.id_transmisor.last_name2+'"src="'+mensajeActual.id_transmisor.imagen+'" alt="" class="circle responsive-img" width="50" height="50">'+
                                  '<p class="mensajeTransmisor" title="'+formatoFechaMensajes(mensajeActual.fecha_envio)+'"><b>'+mensajeActual.id_transmisor.name+' '+mensajeActual.id_transmisor.last_name+' '+mensajeActual.id_transmisor.last_name2+'</b><br>'+mensajeActual.contenido+
                                  '</p>'+
                                '</li>'); 

            }else{
              $("#chatList").append('<li class="collection-item valign-wrapper col s12">'+
                                  '<img title="'+mensajeActual.id_transmisor.name+' '+mensajeActual.id_transmisor.last_name+' '+mensajeActual.id_transmisor.last_name2+'"src="'+mensajeActual.id_transmisor.imagen+'" alt="" class="circle responsive-img" width="50" height="50">'+
                                  '<p class="mensajeReceptor" title="'+formatoFechaMensajes(mensajeActual.fecha_envio)+'"><b>'+mensajeActual.id_transmisor.name+' '+mensajeActual.id_transmisor.last_name+' '+mensajeActual.id_transmisor.last_name2+'</b><br>'+mensajeActual.contenido+
                                  '</p>'+
                                '</li>'); 
            }

          }//else externo        
        }//for

        $('#logoInicio').hide(); //oculto el logo                
        $('#nav').show(); //muestro el encabezado con la información del usuario seleccionado
        $('#footer').show(); //muestro el encabezado con la información del usuario seleccionado
        //Muestra el último mensaje
        $("#chatList").animate({scrollTop: $(this).height()+100000}, 'fast');
        $('#chatList').show(); //muestro la listas de mensajes        
        return false;

      }//addMensajes

      function addMensaje(data) {

        if ( chatSeleccionadoActual == data.id_chat.id_chat) {
          console.log(data);

          if (data.id_curso) {
            
            if (transmisor == data.id_transmisor.id) {             

              $("#chatList").append('<li class="collection-item valign-wrapper col s12">'+
                                  '<img title="'+data.id_transmisor.name+' '+data.id_transmisor.last_name+' '+data.id_transmisor.last_name2+'"src="'+data.id_transmisor.imagen+'" alt="" class="circle responsive-img" width="50" height="50">'+
                                  '<p class="mensajeTransmisor" title="'+formatoFechaMensajes(data.fecha_envio)+'"><b>'+data.id_transmisor.name+' '+data.id_transmisor.last_name+' '+data.id_transmisor.last_name2+'</b><br>'+data.contenido+
                                  '</p>'+
                                '</li>'); 

            }else{
              $("#chatList").append('<li class="collection-item valign-wrapper col s12">'+
                                  '<img title="'+data.id_transmisor.name+' '+data.id_transmisor.last_name+' '+data.id_transmisor.last_name2+'"src="'+data.id_transmisor.imagen+'" alt="" class="circle responsive-img" width="50" height="50">'+
                                  '<p class="mensajeReceptor" title="'+formatoFechaMensajes(data.fecha_envio)+'"><b>'+data.id_transmisor.name+' '+data.id_transmisor.last_name+' '+data.id_transmisor.last_name2+'</b><br>'+data.contenido+
                                  '</p>'+
                                '</li>'); 
              $('#chatAudio')[0].play();

            }
          }else{
            if (transmisor == data.id_transmisor.id) {             

              $("#chatList").append('<li class="collection-item valign-wrapper col s12">'+
                                  '<img title="'+data.id_transmisor.name+' '+data.id_transmisor.last_name+' '+data.id_transmisor.last_name2+'"src="'+data.id_transmisor.imagen+'" alt="" class="circle responsive-img" width="50" height="50">'+
                                  '<p class="mensajeTransmisor" title="'+formatoFechaMensajes(data.fecha_envio)+'"><b>'+data.id_transmisor.name+' '+data.id_transmisor.last_name+' '+data.id_transmisor.last_name2+'</b><br>'+data.contenido+
                                  '</p>'+
                                '</li>'); 

            }else{
              $("#chatList").append('<li class="collection-item valign-wrapper col s12">'+
                                  '<img title="'+data.id_transmisor.name+' '+data.id_transmisor.last_name+' '+data.id_transmisor.last_name2+'"src="'+data.id_transmisor.imagen+'" alt="" class="circle responsive-img" width="50" height="50">'+
                                  '<p class="mensajeReceptor" title="'+formatoFechaMensajes(data.fecha_envio)+'"><b>'+data.id_transmisor.name+' '+data.id_transmisor.last_name+' '+data.id_transmisor.last_name2+'</b><br>'+data.contenido+
                                  '</p>'+
                                '</li>');
              $('#chatAudio')[0].play();
                                 
            }
          }//else externo

          //Muestra el mensaje enviado
          $("#chatList").animate({scrollTop: $(this).height()+100000}, 'fast');
          return false;

        }else{
            //IMPLEMENTAR PASAR EL CHAT DE PRIMERO CON EL NUEVO MENSAJE
            $('#chatAudio')[0].play();
            actualizarListaChats();

        }        
      }//addMensaje

      function newChat(data) {

        //document.getElementById("imagenUsuarioSeleccionado").src = data.imagen;
        //$("#nombreUsuarioSeleccionado").html('&nbsp&nbsp'+data.nombreCompaniero+' '+data.apellido1Companiero);
        $('#chatList').empty();  
        $('#logoInicio').hide(); //oculto el logo                
        $('#nav').show(); //muestro el encabezado con la información del usuario seleccionado
        $('#footer').show(); //muestro el encabezado con la información del usuario seleccionado
        //Muestra el último mensaje
        $("#chatBody").animate({scrollTop: $(this).height()+100000}, 'fast');
        $('#chatBody').show(); //muestro la listas de mensajes        
        return false;

      }//newChat

      function cursoSeleccionado(curso) { 
        //Grupo receptor
        grupo = curso.idCurso; 
        //Se cierra el modal de los contactos del usuario
        $('#contactos').modal('close');  
        //Verificar que el chat exista o no en la lista chatsUsuario
        var chatSeleccionado; 
        var existeChat=false;

        //console.log(grupo);
        //console.log(chatsUsuario);

        for(let chatAct of chatsUsuario){
          if (chatAct.id_curso) {
            if ( chatAct.id_curso.id_CursoEntidad == grupo ) {
              chatSeleccionado = chatAct;
              existeChat = true;
            }
          }        
        }//for

        if (existeChat) {
          //muestro el chat desde la lista chatsUsuario
          mostrarMensajes({ idChat : chatSeleccionado.id_chat });
        }else{
          //Creo un nuevo registro en la tabla chats
          var chat = { id_curso : grupo };
          io.socket.post('/chats/create/', chat, function(data, response) {
            if (data) {
              for(let cursoActual of cursos){
                if ( cursoActual.idCurso == data.id_curso ) {
                  chatSeleccionadoActual = data.id_chat;
                  newChat(chatSeleccionadoActual);
                  break;
                }
              }

              actualizarListaChats();
            }//if
          });
        }//else           
      }//cursoSeleccionado
 

      io.socket.on('new_message', function(newMessage){  
          addMensaje(newMessage);            
      });   


     /*FALTA IMPLEMENTAR EL ENVÍO DE MENSAJES*/
     /****************************************/ 
     enviarMensajeButton.addEventListener('click', function(e){
        console.log(grupo);
        if (mensaje.value) {
          var data = {
            contenido: mensaje.value,
            id_transmisor: transmisor,
            id_receptor: receptor,
            id_grupo: grupo,
            id_chat: chatSeleccionadoActual
          }

          //Guardar los mensajes en la BD, persistencia
          io.socket.post('/mensajeschat', data, function(data, response) {
            mensaje.value = null;
          });
        }
     });   
     /*******************************************************************/

     function usuarioSeleccionado(usuario) { 
        //Usuario o grupo receptor
        receptor = usuario.idCompaniero; 
        //Se cierra el modal de los contactos del usuario
        $('#contactos').modal('close');  
        $('#imagenAdjuntaBtn').show(); 
        $('#archivoAdjuntoBtn').show(); 
        $('#listaArchivos').show();         

        //Verificar que el chat exista o no en la lista chatsUsuario
        var chatSeleccionado; 
        var existeChat=false;

        for(let chatAct of chatsUsuario){
          if (chatAct.id_transmisor) {
            if ( (chatAct.id_transmisor.id == transmisor && chatAct.id_receptor.id == receptor ) || (chatAct.id_transmisor.id == receptor && chatAct.id_receptor.id == transmisor )) {
              chatSeleccionado = chatAct;
              existeChat = true;
            }
          }
        }//for

        if (existeChat) {
          //muestro el chat desde la lista chatsUsuario
          mostrarMensajes({ idChat : chatSeleccionado.id_chat });
        }else{

          //Creo un nuevo registro en la tabla chats
          var chat = { id_transmisor : transmisor, id_receptor : receptor };
          io.socket.post('/chats/create/', chat, function(data, response) {
            if (data) {
              for(let usuarioAct of usuariosReceptores){
                
                if ( (usuarioAct.idCompaniero == data.id_receptor) ) {
                  chatSeleccionadoActual = data.id_chat;
                  newChat(usuarioAct);
                  break;
                }
              }//for

              actualizarListaChats();
            }
          });
        }//else                  

      }//usuario seleccionado

      io.socket.on('chats', function (event) {
        //Si se crea un nuevo chat todos los usuarios actualizan su lista de contactos
        switch (event.verb) {
          case 'created':
            //Actualizar la lista de los chat cuando se crea un nuevo chat para el usuario
            //console.log(event);
            if ( (transmisor == event.data.id_transmisor) || (transmisor == event.data.id_receptor) ) {
              actualizarListaChats();
            }

            for(let cursoActual of cursos){
              if ( event.data.id_curso == cursoActual.idCurso ) {
                actualizarListaChats();
              }
            }
            
            break;
            
          default:
            console.warn('Evento del socket no reconocido por el servidor:',event.verb, event);
        }

      }); //io.socket.on chats 


     function actualizarListaChats() {
        //Actualizar la lista de chat del usuario
        $('#slide-out').empty();
        addEncabezadoListaChatsUsuarios();
        var chatData = { id_transmisor : transmisor };
          io.socket.get('/chats/listchats',chatData,function(data, response) {
            chatsUsuario = data.chatsUsuario;
            for(let chatActual of data.chatsUsuario){
              addListaChatsUsuarios(chatActual);
            } 
          });//io.socket.get 
      }

      io.socket.get('/chats/chatsindex',function(data, response) {
        cursos = data.cursos;
        usuariosReceptores = data.companieros;
        chatsUsuario = data.chatsUsuario;
        //console.log();
        //Obtener todo lo relacionado con el usuario, contactos, grupos, chats.
        for(cursoActual of data.cursos){
          addCursos(cursoActual);
        }   

        for(companieroActual of data.companieros){
          addContactos(companieroActual);
        }   

        addEncabezadoListaChatsUsuarios();
        for(chatActual of data.chatsUsuario){
          addListaChatsUsuarios(chatActual);
        }     
      });//io.socket.get

      function mostrarMensajes(data) { 
        $('#imagenAdjuntaBtn').show(); 
        $('#archivoAdjuntoBtn').show(); 
        $('#listaArchivos').show(); 

        $('#chatList').empty(); 
        //Muestra los mensajes del chat seleccionado
        var idChatSeleccionado = data.idChat;

        for(let chatActual of chatsUsuario){
          if (chatActual.id_chat == idChatSeleccionado) {

            if(chatActual.id_curso){
              grupo = chatActual.id_curso.id_CursoEntidad;
            }else if (transmisor == chatActual.id_transmisor.id) {
              receptor = chatActual.id_receptor.id;
            }else{
              receptor = chatActual.id_transmisor.id;
            }
            //Obtener los mensajes del chat seleccionado
            io.socket.get('/mensajeschat/mensajes',{ id_chat:idChatSeleccionado },function(data, response) {
              if (data) {
                chatSeleccionadoActual = chatActual.id_chat;
                addMensajes(data.mensajesChat);
              } 
            });//io.socket.get
          }
        }
      }//addContactos

      function addEncabezadoListaChatsUsuarios(){
        //Agrega el encabezado de la lista de chats                 
        $('#slide-out').empty();        
        $("#slide-out").append('<li>'+
                                  '<nav class="top-nav  colorCampusChat">'+
                                    '<div class="row">'+
                                      '<div class="valign-wrapper col s12 m12 l9 xl9 offset-s1 offset-m1 offset-l1 offset-xl1">'+
                                          '<img title=" " src="<%= session.user.imagen  %>" alt="" class="circle responsive-img" width="50" height="50"> '+
                                          '<span id="nombreUsuarioSeleccionado" class="white-text"><b>&nbsp;<%= session.user.name  %> <%= session.user.last_name.substr(0,1)%></b></span>'+
                                      '</div>'+                      
                                  '</nav>'+
                                  '<div class="divider"></div>'+

                                '</li>'
                                );                               
      }//addEncabezadoListaChatsUsuarios


      function addListaChatsUsuarios(data) { 
        //Agregar los chats a la lista de chats
        if (data.id_curso) {
          //NOTA: LA IMAGEN DE LOS CURSOS SE ENCUENTRA DE FORMA ESTÁTICA, BUSCAR LA FORMA DE HACERLA DINÁMICA
          $("#slide-out").append('<li>'+
                                    '<a href="#" onclick="mostrarMensajes({idChat:'+data.id_chat+'});return false;">'+
                                      '<div class="valign-wrapper">'+
                                         '<img src="/images/curso.png" alt="" class="circle responsive-img" width="50" height="50">'+
                                          '<span class="black-text">'+
                                            data.id_curso.codigo+
                                          '</span>'+
                                      '</div>'+
                                    '</a>'+
                                    '<div class="divider"></div>'+
                                    '<div class="divider"></div>'+
                                  '</li>');

        }else if (transmisor == data.id_transmisor.id) {
          $("#slide-out").append('<li>'+
                                    '<a href="#" onclick="mostrarMensajes({idChat:'+data.id_chat+'});return false;">'+
                                      '<div class="valign-wrapper">'+
                                          '<img src="'+data.id_receptor.imagen+'" alt="" class="circle responsive-img" width="50" height="50"> '+
                                          '<span class="black-text">'+
                                            data.id_receptor.name+" "+data.id_receptor.last_name+
                                          '</span>'+
                                      '</div>'+
                                    '</a>'+
                                    '<div class="divider"></div>'+
                                    '<div class="divider"></div>'+
                                  '</li>');
        }else{
          $("#slide-out").append('<li>'+
                                    '<a href="#" onclick="mostrarMensajes({idChat:'+data.id_chat+'});return false;">'+
                                      '<div class="valign-wrapper">'+
                                          '<img src="'+data.id_transmisor.imagen+'" alt="" class="circle responsive-img" width="50" height="50"> '+
                                          '<span class="black-text">'+
                                            data.id_transmisor.name+" "+data.id_transmisor.last_name+
                                          '</span>'+
                                      '</div>'+
                                    '</a>'+
                                    '<div class="divider"></div>'+
                                    '<div class="divider"></div>'+
                                  '</li>');
        } 
      }//addListaChatsUsuarios

      function addContactos(data) { 
        //Agregar los usuarios relacionados a la lista de contactos
        $("#contactosList").append('<li class="collection-item avatar">'+
                                          '<a href="#" onclick="usuarioSeleccionado({ idCompaniero:'+data.idCompaniero+' });return false;'+'">'+
                                            '<img src="'+data.imagen+'" alt="" class="circle responsive-img" width="50" height="50">'+
                                            '<span class="title black-text">Estudiante</span>'+
                                            '<p class="black-text">'+data.nombreCompaniero+" "+data.apellido1Companiero+'</p>'+
                                            '<a  class="secondary-content"><i class="material-icons colorCampusChat-text">message</i></a>'+
                                          '</a>'+
                                        '</li>');
 
      }//addContactos

      function addCursos(data) { 
        //Agregar los cursos a la lista de contactos
        $("#contactosList").append('<li class="collection-item avatar">'+
                                          '<a href="#" onclick="cursoSeleccionado({ idCurso:'+data.idCurso+' });return false;'+'">'+
                                            '<img src="/images/curso.png" alt="" class="circle responsive-img" width="50" height="50">'+
                                            '<span class="title black-text">Curso</span>'+
                                            '<p class="black-text">'+data.nombreClase+'</p>'+
                                            '<a  class="secondary-content"><i class="material-icons colorCampusChat-text">message</i></a>'+
                                          '</a>'+
                                        '</li>');
 
      }//addCursos

      function formatoFechaMensajes(fecha){
        //Formato de las fechas
        var anio = fecha.substring(0,4);
        var mes = fecha.substring(5,7);
        var dia = fecha.substring(8,10);
        var hora = fecha.substring(11,19);
        var formatFecha = dia+'-'+mes+'-'+anio+' Hora: '+ hora;
        return formatFecha;
      }//formatoFechaMensajes   
     
   </script>

  </body>
</html>